{% extends 'overall/layout-404' %}
{% block appBody %}
<div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Pagina no encontrada {{lang.wrappererror.pagina}}</h3>

        <div class="error-desc">
            Disculpe, la pagina no fue encontrada. Por favor vuelva a la pagina principal del sistema. {{lang.wrappererror.pagina}}
        </div>
</div>
{% endblock %}
