{% extends 'overall/layout-landing' %}
{% block appBody %}
	<div class="navbar-wrapper">
	        <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
	            <div class="container">
	                <div class="collapse navbar-collapse justify-content-end" id="navbar">
	                    <ul class="nav navbar-nav navbar-right">
	                        <li><a class="nav-link page-scroll" href="../login/">Iniciar Sesión</a></li>
	                        <li><a class="nav-link page-scroll" href="../registro/">Registrarse</a></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	</div>

	<section class="features">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <div class="navy-line"></div>
	                <h1>Franklin's Gold</h1>
	                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
	            </div>
	        </div>
	        <div class="row features-block">
	            <div class="col-lg-3 features-text wow fadeInLeft">
	                <h2>Compra y venta de monedas de oro</h2>
	                <p>Una razón para comprar oro es que el oro físico es "un lugar seguro" de inversión en épocas de incertidumbre en los mercados financieros. </p>
	            </div>
	            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
	                <img src="../views/img/landing/mondapng.png" class="img-fluid" alt="dashboard" style="max-width:100%; height:auto;">
	            </div>
	            <div class="col-lg-3 features-text text-right wow fadeInRight">
	                <h2>Compra y venta de monedas de plata</h2>
	                <p>La inversión en plata, para los más escépticos, sería que La plata es un valor tangible y se puede utilizar para la venta, trueque o comercio en caso de un colapso económico o en situaciones en que las divisas se devalúen de forma masiva.</p>
	            </div>
	        </div>
	    </div>
	</section>

	<section id="contact" class="gray-section contact">
	    <div class="container">
	        <div class="row m-b-lg">
	            <div class="col-lg-12 text-center">
	                <div class="navy-line"></div>
	                <h1>Contáctanos</h1>
	                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
	            </div>
	        </div>
	        <div class="row m-b-lg justify-content-center">
	            <div class="col-lg-4 ">
	                <address>
	                    <strong><span class="navy">Miami – USA</span></strong><br/>
	                    12344 SW 127 avenue<br/>
	                    Miami Fl 33186<br/>
	                    <abbr title="Phone">P:</abbr> +1 (786) 592-1010
	                </address>
	            </div>
	            <div class="col-lg-4 ">
	                <address>
	                    <strong><span class="navy">Bogota – Colombia</span></strong><br/>
	                    Carrera 15 No. 90-20/34<br/>
	                    L102-103<br/>
	                    <abbr title="Phone">P:</abbr> +57 (1) 257-2079
	                </address>
	            </div>
	            <div class="col-lg-4 ">
	                <address>
	                    <strong><span class="navy">Caracas – Venezuela</span></strong><br/>
	                    Av. Francisco de Miranda c/c
	                    Av.San Juan Bosco<br/>
	                    Edf. Seguros Adriática, PB<br/>
	                    <abbr title="Phone">P:</abbr> +58 (212) 266-6955
	                </address>
	            </div>
	        </div>
	        
	        <div class="row">
	            <div class="col-lg-12 text-center m-t-lg m-b-lg">
	                <p><strong>&copy; 2018 Franklin's Gold</strong><br/></p>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock %}