{% extends 'overall/layout-404' %}

{% block appHeader %}
<link rel="stylesheet" href="views/propios/css/estiloLogin.css">
{% endblock %}


{% block appBody %}

<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"><img alt="image" src="views/propios/img/logo.png" style="width:200px;" /></h1>

            </div>
            <h3 class="login-text">Bienvenido a Franklin's Gold</h3>
            <form class="m-t" role="form" id="login_form">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="password" name="pass" class="form-control" placeholder="Clave">
                </div>
                <button type="button" id='login' class="btn btn-primary block full-width m-b">INICIAR SESIÓN</button>

                <a data-toggle="modal" data-target="#lostpassModal" style="color:#fec401"><small>¿Olvidaste tu clave?</small></a>
                </br>
                </br>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-muted text-center"><small style="color:wheat;">¿Aún no estás registrado en el sistema?</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="registro/">¡REGISTRATE!</a>
                    </div>
                    <div class="col-md-6">
                        <p class="text-muted text-center"><small style="color:wheat;">¿Deseas volver a la pagina principal?</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="inicio">Inicio</a>
                    </div>
                </div>
                
                
            </form>
        </div>
</div>

{% include "login/lostpass" %}

{% endblock %}
{% block appFooter %}
    <script src="./assets/jscontrollers/login/login.js"></script>
    <script src="./assets/jscontrollers/login/lostpass.js"></script>
{% endblock %}