<div class="modal inmodal" id="lostpassModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Recuperar Contraseña</h4>
                    <small class="font-bold">Franklins Gold</small>
                </div>
                <div class="modal-body">
                    <form role="form" id="lostpass_form">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label for="nombre" class="control-label mb-1">Correo</label>
                                    <input name="email" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="introduzca su correo">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="recuperarbtn" class="btn btn-primary">Recuperar</button>
                </div>
            </div>
        </div>
</div>