<div class="modal inmodal" id="editarUsuario" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                                    <div class="modal-content animated flipInY">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                            <h4 class="modal-title">Edición de Usuarios</h4>
                                            <small class="font-bold">Franklins Gold</small>
                                        </div>
                                        <div class="modal-body">
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="cc-payment" class="control-label mb-1">Primer nombre</label>
                                                            <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="cc-payment" class="control-label mb-1">Segundo nombre</label>
                                                            <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="cc-payment" class="control-label mb-1">Primer apellido</label>
                                                            <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="cc-payment" class="control-label mb-1">Segundo apellido</label>
                                                            <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="usuario" class="control-label mb-1">Usuario</label>
                                                            <input id="usuario" name="usuario" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="radio" class="control-label mb-1">Sexo</label>
                                                            </br>
                                                            <input type="radio" checked="" value="masculino" id="masculinoRadio" name="optionsRadios"> Masculino
                                                            </br>
                                                            <input type="radio" checked="" value="femenino" id="femeninoRadio" name="optionsRadios"> Femenino
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="telefono" class="control-label mb-1">Télefono</label>
                                                            <input id="telefono" name="telefono" type="number" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="email" class="control-label mb-1">Correo</label>
                                                            <input id="email" name="email" type="email" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
            </div>
</div>
