@media (min-width: 1025px){
	.oculto{
		display: none!important;
	}
}

li.active strong, .naranja{
	color: #DB8F18;
}

.wrapper-content{
	padding: 10px 10px 20px;
}

.navbar-top-links li a{
	padding: 20px;
}


#wrapper{
	background-color: #1D1D1D;
}

.nav-header{
	background: #252525;
}

.login-text{
	color: white;
}

.select2-dropdown.increasezindex {
	z-index:99999;
	width: 100%;
}