<div class="modal inmodal" id="compraModalOro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Compra de gramos de Oro</h4>
                <small class="font-bold">Franklins Gold</small>
            </div>

            <div class="modal-body">

                <form id="crearOrdenCompra_form">
                    <div class="row">

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad_bolivar_soberano" class="control-label mb-1" >Cantidad BsS</label>
                                <input name="cantidad_bolivar_soberano" id="id_cantidad_bolivar_soberano_compra" type="number" onchange="resetQuantity('id_cantidad_bolivar_soberano_compra','id_tipo_compra','id_cantidad_compra','id_monto_dolares_compra')" class="form-control" >
                            </div>
                        </div>  

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1" >Tipo metal</label>
                                <select disabled name="tipo_gramo" id="id_tipo_compra" onchange="resetQuantity('id_cantidad_bolivar_soberano_compra','id_tipo_compra','id_cantidad_compra','id_monto_dolares_compra')" class="form-control" style="width: 100%">
                                    <option value="oro">Oro</option>
                                </select>
                            </div>                         
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad" class="control-label mb-1">Cantidad gramos</label>
                                <input name="cantidad" id="id_cantidad_compra" type="number" readonly="readonly" class="form-control" >
                            </div>                           
                        </div>
                        
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="monto_dolares" class="control-label mb-1">Monto(Dólares)</label>
                                <input name="monto_dolares" id="id_monto_dolares_compra" type="text" readonly="readonly" class="form-control" aria-required="true" aria-invalid="false" >
                            </div>                           
                        </div>

                    </div>  
                   
                    <input name="tipo_orden" value="1" type="hidden"> 
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crearOrdenCompra" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="compraModalPlata" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Compra de gramos de Plata</h4>
                <small class="font-bold">Franklins Gold</small>
            </div>

            <div class="modal-body">

                <form id="crearOrdenCompra_form">
                    <div class="row">

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad_bolivar_soberano" class="control-label mb-1" >Cantidad BsS</label>
                                <input name="cantidad_bolivar_soberano" id="id_cantidad_bolivar_soberano_compra" type="number" onchange="resetQuantity('id_cantidad_bolivar_soberano_compra','id_tipo_compra','id_cantidad_compra','id_monto_dolares_compra')" class="form-control" >
                            </div>
                        </div>  

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1" >Tipo metal</label>
                                <select disabled name="tipo_gramo" id="id_tipo_compra" onchange="resetQuantity('id_cantidad_bolivar_soberano_compra','id_tipo_compra','id_cantidad_compra','id_monto_dolares_compra')" class="form-control" style="width: 100%">
                                    <option value="plata">Plata</option>
                                </select>
                            </div>                         
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad" class="control-label mb-1">Cantidad gramos</label>
                                <input name="cantidad" id="id_cantidad_compra" type="number" readonly="readonly" class="form-control" >
                            </div>                           
                        </div>
                        
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="monto_dolares" class="control-label mb-1">Monto(Dólares)</label>
                                <input name="monto_dolares" id="id_monto_dolares_compra" type="text" readonly="readonly" class="form-control" aria-required="true" aria-invalid="false" >
                            </div>                           
                        </div>

                    </div>  
                   
                    <input name="tipo_orden" value="1" type="hidden"> 
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crearOrdenCompra" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>