<div class="modal inmodal jiji" id="compraventatiendaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Compra ó venta de gramos de Oro ó Plata</h4>
                <small class="font-bold">Franklin Gold</small>
            </div>

            <div class="modal-body">

                <form id="crearOrdenCompraVentaTienda_form">
                    <div class="row">
                       
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="id_tipo_orden" class="control-label mb-1" >Tipo transacción</label>
                                <select name="tipo_orden" id="id_tipo_orden" class="form-control" style="width: 100%">
                                    <option disabled selected value>Tipo</option>
                                    <option value="1">Compra</option>
                                    <option value="2">Venta</option>
                                </select>
                            </div>                         
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="id_cliente" class="control-label mb-1" >Clientes</label>
                                <select name="email" id="id_cliente" class="form-control select2" style="width: 100%">
                                    <option disabled selected value>Seleccione un cliente</option>
                                     {% for c in clientes %}       
                                         <option value="{{c.email}}">{{c.email}}</option>
                                     {% endfor %}
                                </select>
                            </div>
                        </div> 

                    </div>
                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="id_tipo_gramo" class="control-label mb-1" >Tipo metal</label>
                                <select name="tipo_gramo" id="id_tipo" class="form-control" style="width: 100%">
                                    <option disabled selected value>Tipo</option>
                                    <option value="oro">Oro</option>
                                    <option value="plata">Plata</option>
                                </select>
                            </div>                         
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad" class="control-label mb-1" >Cantidad(gramos)</label>
                                <input name="cantidad" id="id_cantidad" type="number" class="form-control"> 
                            </div>                         
                        </div>

                        {% if owner_user.tipo != 1 %}
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="foto_transferencia" class="float-left">Subir imagen de la transferencia  </label>
                                <input type="file" class="form-control-file" name="foto_transferencia" id="id_foto_transferencia">
                            </div>
                        </div>
                        {% endif %}

                    </div>

                                          
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crearOrdenCompraVentaTienda" class="btn btn-primary">Crear</button>
            </div>
            
        </div>
    </div>
</div>
