<div class="modal inmodal" id="ventaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Venta de gramos de Oro o Plata</h4>
                <small class="font-bold">Franklins Gold</small>
            </div>

            <div class="modal-body">

                <form id="crearOrdenVenta_form">
                    <div class="row">

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad_bolivar_soberano" class="control-label mb-1" >Cantidad BsS</label>
                                <input name="cantidad_bolivar_soberano" id="id_cantidad_bolivar_soberano_venta" type="number" onchange="resetQuantity('id_cantidad_bolivar_soberano_venta','id_tipo_venta','id_cantidad_venta','id_monto_dolares_venta')" class="form-control" >
                            </div>
                        </div>  

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1" >Tipo metal</label>
                                <select name="tipo_gramo" id="id_tipo_venta" onchange="resetQuantity('id_cantidad_bolivar_soberano_venta','id_tipo_venta','id_cantidad_venta','id_monto_dolares_venta')" class="form-control" style="width: 100%">
                                    <option disabled selected value>Tipo</option>
                                    <option value="oro">Oro</option>
                                    <option value="plata">Plata</option>
                                </select>
                            </div>                         
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cantidad" class="control-label mb-1">Cantidad gramos</label>
                                <input name="cantidad" id="id_cantidad_venta" type="number" readonly="readonly" class="form-control" >
                            </div>                           
                        </div>
                        
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="monto_dolares" class="control-label mb-1">Monto(Dólares)</label>
                                <input name="monto_dolares" id="id_monto_dolares_venta" type="text" readonly="readonly" class="form-control" aria-required="true" aria-invalid="false" >
                            </div>                           
                        </div>

                        {#<div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1" >Sucursal</label>
                            <select name="id_sucursal" id="" class="form-control" style="width: 100%">
                                <option disabled selected value>Seleccione un sucursal</option>
                                {% for s in sucursales %}
                                    <option value="{{s.id_sucursal}}">{{s.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        </div>#}
                    </div>  

                    <input name="tipo_orden" value="2" type="hidden">
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crearOrdenVenta" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>
