<div class="modal inmodal" id="crearIntercambio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                    <h4 class="modal-title">Creación de Intercambio</h4>
                                    <small class="font-bold">Franklins Gold</small>
                                </div>
                                <div class="modal-body">
                                    <form role="form" id="crear_intercambio_form">
                                        <input type="hidden" id="id_intercambio_comercio" name="id_comercio_afiliado">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <label for="nombre" class="control-label mb-1">Moneda</label>
                                                    <select name="moneda" id="" class="form-control m-b">
                                                        <option disabled selected value>Seleccione una moneda</option>
                                                        {% for m in monedas %}
                                                            <option value="{{ m.codigo }}">{{ m.codigo }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                                    <button type="button" id="crearintercambiobtn" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
    </div>
</div>
