<div class="modal inmodal" id="modaltelefonos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                                <div class="modal-content animated flipInY">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                        <h4 class="modal-title">Teléfonos del Comercio Afiliado</h4>
                                        <small class="font-bold">Franklins Gold</small>
                                    </div>
                                    <div class="modal-body">
                                        <ul id="listado_telefonos">
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
        </div>
</div>
    