{% extends 'overall/layout' %}
{% block appBody %}
<div id="page-wrapper" class="gray-bg">
<div class="row border-bottom">
    {% include 'overall/header' %}
</div>

            <div class="wrapper wrapper-content">
            	<div class="row">
            	</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                    <div>
                                        <span class="pull-right text-right">
                                        <small>Cotización en tiempo real del precio del oro en el mercado al contado</small>
                                        </span>
                                        <h3 class="font-bold no-margins">
                                            Precio del oro (En dólares)
                                        </h3>
                                    </div>

                                <div>
                                    <canvas id="lineChart" height="70"></canvas>
                                </div>

                                <div class="m-t-md">
                                    <small class="pull-right">
                                        <i class="fa fa-clock-o"> </i>
                                        <i id="fecha_oro"> </i>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                    <div>
                                        <span class="pull-right text-right">
                                        <small>Cotización en tiempo real del precio de la plata en el mercado al contado</small>
                                        </span>
                                        <h3 class="font-bold no-margins">
                                            Precio de la plata (En dólares)
                                        </h3>
                                    </div>

                                <div>
                                    <canvas id="plataChart" height="70"></canvas>
                                </div>

                                <div class="m-t-md">
                                    <small class="pull-right">  
                                        <i class="fa fa-clock-o"> </i>                                     
                                        <i id="fecha_plata"></i>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Transacciones realizadas en oro</h5>
                            </div>
                        </br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ibox-title">
                                        <h5>Compra</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" >
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Fecha y Hora</th>
                                                    <th>Monto Transacción</th>
                                                </tr>
                                                </thead>
                                                <tbody> 
                                                {% for item in 1..3 %} 
                                                    <tr>
                                                        <td class="compra-verde">Compra</td>
                                                        <td>13/08/2018 - 03:23:52</td>
                                                        <td>$ 358</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ibox-title">
                                        <h5>Venta</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" >
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Fecha y Hora</th>
                                                    <th>Monto Transacción</th>
                                                </tr>
                                                </thead>
                                                <tbody> 
                                                {% for item in 1..3 %} 
                                                    <tr>
                                                        <td class="venta-rojo">Venta</td>
                                                        <td>13/08/2018 - 03:23:52</td>
                                                        <td>$ 358</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Transacciones realizadas en plata</h5>
                            </div>
                        </br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ibox-title">
                                        <h5>Compra</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" >
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Fecha y Hora</th>
                                                    <th>Monto Transacción</th>
                                                </tr>
                                                </thead>
                                                <tbody> 
                                                {% for item in 1..3 %} 
                                                    <tr>
                                                        <td class="compra-verde">Compra</td>
                                                        <td>13/08/2018 - 03:23:52</td>
                                                        <td>$ 358</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ibox-title">
                                        <h5>Venta</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" >
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Fecha y Hora</th>
                                                    <th>Monto Transacción</th>
                                                </tr>
                                                </thead>
                                                <tbody> 
                                                {% for item in 1..3 %} 
                                                    <tr>
                                                        <td class="venta-rojo">Venta</td>
                                                        <td>13/08/2018 - 03:23:52</td>
                                                        <td>$ 358</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Transacciones diarias de oro</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">123</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Transacciones mensuales de oro</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">123</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Transacciones diarias de plata</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">123</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Transacciones mensuales de plata</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">123</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% include 'overall/footer' %}
</div>
{% endblock %}

{% block appFooter %}
    <script src="./assets/jscontrollers/ordenes/crear.js"></script>
    <script src="./assets/jscontrollers/home/dashboard.js"></script>
{% endblock %}