<div class="modal inmodal" id="confirmarintercambioencomercioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Confirmar intercambio en comercio afiliado</h4>
                    <small class="font-bold">Franklins Gold</small>
                </div>
    
                <div class="modal-body">
    
                    <form id="concretarIntercambioComercio_form">
                        <div class="row">
    
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label for="codigo_confirmacion" class="control-label mb-1" >Código de confirmación</label>
                                    <input name="codigo_confirmacion" type="text" class="form-control" >
                                </div>
                            </div>  
    
                        </div>           
                    </form>
    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="concretarIntercambioEnComercioBtn" class="btn btn-primary">Concretar</button>
                </div>
            </div>
        </div>
    </div>
    