<div class="modal inmodal jiji" id="enviogramosModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Envío de gramos del comercio afiliado.</h4>
                <small class="font-bold">Franklin Gold</small>
            </div>

            <div class="modal-body">

                <form id="enviargramos_form">
                    <div class="row">                 

                        <div class="col-md-6 col-xs-12 cantidadbss_intercambiocomercio">
                            <div class="form-group">
                                <label for="id_cantidad_bolivar_soberano_oro" class="control-label mb-1" >Cantidad BsS</label>
                                <input placeholder="0.00" id="id_cantidad_bolivar_soberano_oro" type="number" onchange="resetQuantity('id_cantidad_bolivar_soberano_oro','id_tipo_oro','id_cantidad_oro')" class="form-control" >
                            </div>
                        </div>  
                        <input class="form-control"  id="id_tipo_oro" type="hidden" value="oro"> 

                        <div class="col-md-6 col-xs-12 cantidad_intercambiocomercio">
                            <div class="form-group">
                                <label for="id_cantidad_oro" class="control-label mb-1" >Gramos en oro</label>
                                <input value="0" class="form-control" name="cantidad_oro" id="id_cantidad_oro" type="number"> 
                            </div>                         
                        </div>

                        <div class="col-md-6 col-xs-12 cantidadbss_intercambiocomercio">
                            <div class="form-group">
                                <label for="id_cantidad_bolivar_soberano_plata" class="control-label mb-1" >Cantidad BsS</label>
                                <input placeholder="0.00" id="id_cantidad_bolivar_soberano_plata" type="number" onchange="resetQuantity('id_cantidad_bolivar_soberano_plata','id_tipo_plata','id_cantidad_plata')" class="form-control" >
                            </div>
                        </div>  
                        <input class="form-control"  id="id_tipo_plata" type="hidden" value="plata"> 

                        <div class="col-md-6 col-xs-12 cantidad_intercambiocomercio">
                            <div class="form-group">
                                <label for="id_cantidad_plata" class="control-label mb-1" >Gramos en plata</label>
                                <input value="0" class="form-control" name="cantidad_plata" id="id_cantidad_plata" type="number"> 
                            </div>                         
                        </div>

                    </div>  
                     
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crearEnvioGramosBtn" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>
