<div class="modal inmodal" id="crearMoneda" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Creación de Monedas</h4>
                <small class="font-bold">Franklins Gold</small>
            </div>
            <div class="modal-body">
                <form id="crear_moneda_form">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="diametro" class="control-label mb-1">Díametro <span>*</span></label>
                                <input name="diametro" type="number" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="espesor" class="control-label mb-1">Espesor<span>*</span></label>
                                <input name="espesor" type="number" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="composicion" class="control-label mb-1">Composición<span>*</span></label>
                                <select class="form-control" name="composicion" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                                        <option selected disabled value></option> 
                                        <option value="oro">Oro</option> 
                                        <option value="plata">Plata</option>                                  
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="peso" class="control-label mb-1">Peso<span>*</span></label>
                                <input name="peso" type="number" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="origen" class="control-label mb-1">Origen<span>*</span></label>                               
                                <select class="form-control" name="id_origen"  aria-required="true" aria-invalid="false">
                                    <option selected disabled value></option>
                                    {% for ori in origenes %}
                                        <option value="{{ ori.id_origen }}">{{ ori.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="cc-payment" class="control-label mb-1">Sucursal<span>*</span></label>
                            <select name="id_sucursal" id="" class="form-control m-b" style="width: 100%">
                                <option selected value>Seleccione una sucursal</option>
                                    {% for s in sucursales if s.id_user is not null %}
                                        <option value="{{ s.id_sucursal }}">{{s.nombre}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" id="crearMonedabtn" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
