{% extends 'overall/layout-404' %}
{% block appBody %}
    <div class="container">
    	<div class="row" id="betish">
    		<div class="col-md-12">	
    			<div class="middle-box text-center animated fadeInDown">
		        <h2>¡Bienvenido!</h2>
		        <img alt="Logotipo Franklin Gold" src="views/propios/img/logo.png" style="height:200px;" />

			        <div class="error-desc">
			           Elige tu país
			           
			           	<div class="row">
			           		<br>	
			           		<div class="col-md-4">
			           			<a href="#"><img src="views/propios/img/colombia.png" alt="" style="width:15px;"> Colombia</a>
			           			<br>
			           		</div>
			           		<div class="col-md-4">
			           			<a href="#"><img src="views/propios/img/usa.png" alt="" style="width:15px;"> Estados Unidos</a>
			           			<br>
			           		</div>
			           		<div class="col-md-4">
			           			<a href="#"><img src="views/propios/img/venezuela.png" alt="" style="width:15px;"> Venezuela</a>
			           			<br>
			           		</div>

			           	</div>
			        </div>
				</div>
    		</div>
    	</div>
    </div>
{% endblock %}