<div class="footer">
                    <div class="pull-right">
                        Desarrollado por: Corporación JSK [ www.corporacionjsk.com ]
                    </div>
                    <div>
                        <strong>Caracas, Venezuela</strong> Franklins Gold &copy; 2018
                    </div>
</div>