<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
           <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class=""><a href="" title="Idioma: Español" class="betiviris">ES</a>/<a href="" title="Idioma: Ingles" class="betiviris">EN</a></span>
            </li>            
            <li>
                <a href="logout/">
                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
</nav>