        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" src="views/propios/img/logo.png" style="height:100px; margin: 0 45px;" />
                             </span>
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" style="margin: 0 39px;">Franklins Gold</strong>
                             </span></span>
                        </div>
                        <div class="logo-element">
                            FG
                        </div>
                    </li>
                    <li class="">
                        <a href="usuarios/"><i class="fa fa-user"></i> <span class="nav-label">Usuarios</span></a>
                    </li>
                    <li class="">
                        <a href="monedas/"><i class="fa fa-money"></i> <span class="nav-label">Moneda</span></a>
                    </li>
                    <li class="">
                        <a href="sucursal/"><i class="fa fa-sun-o"></i> <span class="nav-label">Sucursal</span></a>
                    </li>
                    <li class="">
                        <a href="origen/"><i class="fa fa-home"></i><span class="nav-label">Origen</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="transacciones/"><i class="fa fa-line-chart"></i> <span class="nav-label">Transacciones</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="transacciones/compra/">Compra</a>
                            </li>
                            <li>
                                <a href="transacciones/venta/">Venta</a>
                            </li>
                            <li>
                                <a href="transacciones/intercambio/">Intercambio</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>