{% extends 'overall/layout-404' %}
{% block appBody %}
	<div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"><img alt="image" src="views/propios/img/logo.png" style="width:170px;" /></h1>

            </div>
            <h3>Registro</h3>
            <form class="m-t" role="form" id="registro_form">
            	<div class="row">
            		<div class="col-md-6">
            			 <div class="form-group">
		                    <input type="text" name='primer_nombre' class="form-control" placeholder="Primer Nombre (*)">
		                </div>
		                <div class="form-group">
		                    <input type="text" name='segundo_nombre' class="form-control" placeholder="Segundo Nombre">
		                </div>
            		</div>
            		<div class="col-md-6">
		                <div class="form-group">
		                    <input type="text" name='primer_apellido' class="form-control" placeholder="Primer Apellido (*)">
		                </div>
		                <div class="form-group">
		                    <input type="text" name='segundo_apellido' class="form-control" placeholder="Segundo Apellido">
		                </div>
                        
            		</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label class="float-left"><input type="radio" checked="" value="m" name="sexo" type="radio">Masculino</label>
                    </div>
                    <div class="col-xs-6">
                        <label class="float-left"><input type="radio" value="f" name="sexo" type="radio">Femenino</label>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label for="exampleFormControlFile1" class="float-left">Subir fotografía documento de identidad <span style="color:#e44545"> (*) </span></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlFile2" class="float-left">Subir fotografía pasaporte <span style="color:#e44545"> (*) </span></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile2">
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name='usuario' class="form-control" placeholder="Usuario (*)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name='email' class="form-control" placeholder="Correo electrónico (*)">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" name='telefono' class="form-control" placeholder="Teléfono (*)">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" name='pass' class="form-control" placeholder="Contraseña (*)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" name='pass_repeat' class="form-control" placeholder="Repetir Contraseña (*)">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="number" name='numero_cuenta' class="form-control" placeholder="Número de cuenta (*)">
                </div>

                <input type="hidden" id="terminos_ocultos" value="'{{terminos}}'">

                <p class="text-muted text-center"><small>Acepte los términos y condiciones para poder confirmar su registro en el sistema.</small></p>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="id_terminos"> 
                    <a id="buttonTerminos" style="color:#d4c83d">Acepto los términos y condiciones</a>
                  </label>
                </div>
                               
                <button type="button" id="registro" class="btn btn-primary block full-width m-b">REGISTRO</button>

                <p class="text-muted text-center"><small>¿Ya estás registrado en el sistema?</small><a href="login/" style="color:#d4c83d"> Inicia Sesión</a></p>
            </form>
        </div>
    </div>

    {% include 'registro/terminos' %} 

{% endblock %}
{% block appFooter %}
    <script src="./assets/jscontrollers/registro/registro.js"></script>
    <!-- iCheck -->
    <script src="views/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

{% endblock %}